body {
  padding: 0;
  margin: 0 auto;
  min-width: 320px;
  font-size: 15px;
  line-height: 30px;
  font-family: "gothem pro", "Arial", sans-serif;
  color: #ffffff;
  font-style: normal;
  background-color: #101010;
  position: relative;
}
img {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  min-width: 320px;
  position: relative;
}
@media (min-width: 768px) {
  .container {
    padding: 0;
    margin: 0 auto;
    min-width: 768px;
    position: relative;
  }
}
@media (min-width: 1280px) {
  .container {
    padding: 0;
    margin: 0 auto;
    width: 1280px;
    position: relative;
  }
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@font-face {
  font-family: "gothem pro";
  src: url("../fonts/gothamprolight.woff2") format("woff2"), url("../fonts/gothamprolight.woff") format("woff");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "gothem pro";
  src: url("../fonts/gothamproblack.woff2") format("woff2"), url("../fonts/gothamproblack.woff") format("woff");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "gothem pro";
  src: url("../fonts/gothamprobold.woff2") format("woff2"), url("../fonts/gothamprobold.woff") format("woff");
  font-style: bold;
  font-weight: bold;
}
.text-gradient {
  background: linear-gradient(45deg, #ec7c22 33%, #f53c2f 66%, #f01157);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #f01157;
}
.text-gradient-harmony {
  background: linear-gradient(45deg, #c5b3c9 33%, #9d9bb3 66%, #6d7d9e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #6d7d9e;
}
.text-gradient-youth {
  background: linear-gradient(45deg, #d1c674 33%, #cea766 66%, #cb8d5c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #cb8d5c;
}
.text-gradient-success {
  background: linear-gradient(45deg, #bc5858 33%, #a95253 66%, #9e5455);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #9e5455;
}
.text-gradient-elegance {
  background: linear-gradient(45deg, #99bec6 33%, #7ea2a0 66%, #749790);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #749790;
}
.text-gradient-love {
  background: linear-gradient(45deg, #7bb1cd 33%, #64a5cb 66%, #4995c6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #4995c6;
}
.title {
  font-size: 60px;
  font-weight: 900;
  line-height: normal;
  background: linear-gradient(45deg, #ec7c22 33%, #f53c2f 66%, #f01157);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #f01157;
}
.title2 {
  font-size: 36px;
  line-height: 35px;
  font-family: "gothem pro black";
  background: linear-gradient(45deg, #ec7c22 33%, #f53c2f 66%, #f01157);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #f01157;
}
.title-mobile {
  font-size: 30px;
  font-family: "gothem pro black";
  background: linear-gradient(45deg, #ec7c22 33%, #f53c2f 66%, #f01157);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #f01157;
}
.text {
  font-size: 26px;
  line-height: 35px;
  font-weight: bold;
  color: #ffffff;
}
.info {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.info__img {
  width: 250px;
  height: 150px;
  position: relative;
}
.info__img1 {
  width: 150px;
  height: 150px;
}
.info__img2 {
  width: 100px;
  height: 100px;
  position: relative;
  top: -36px;
}
.info__img3 {
  width: 50px;
  height: 50px;
  position: relative;
  left: 135px;
  top: -58px;
}
.info__img1,
.info__img2,
.info__img3 {
  -webkit-animation-name: rotation;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotation;
  -moz-animation-duration: 10s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -o-animation-name: rotation;
  -o-animation-duration: 10s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  animation-name: rotation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.info__title {
  font-size: 20px;
  line-height: 29px;
  font-weight: bold;
  text-align: center;
  color: #f9f9f9;
  margin: 0;
}
.info__text {
  font-size: 14px;
  line-height: 23px;
  font-weight: normal;
  color: #ffffff;
  margin-left: 20px;
  margin-right: 20px;
}
.info__open {
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .info__title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 39px;
  }
}
@media (min-width: 1280px) {
  .info__title {
    font-size: 36px;
    line-height: 45px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.logo {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.logo__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  line-height: 29px;
  color: #ffffff;
}
@media (min-width: 768px) {
  .logo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .logo__link {
    font-size: 36px;
    line-height: 45px;
  }
}
.countdown {
  font-family: sans-serif;
  color: #000000;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}
.countdown-number {
  padding: 10px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #666666;
  display: inline-block;
}
.countdown-time {
  padding: 5px;
  border-radius: 3px;
  background: #ffffff;
  display: inline-block;
}
.countdown-text {
  display: block;
  padding-top: 5px;
  font-size: 12px;
}
@media (min-width: 768px) {
  .countdown-time {
    padding: 15px;
  }
  .countdown-text {
    font-size: 16px;
  }
}
.social {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0;
}
.social__list {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
